
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
.section-a{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width:50%;
    padding-left:3%;
}
.half-width img{
    width:80%;
}
.button{
    text-decoration: none;
    font-weight: 700;
    color:white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 6px;
}